.formsContainer {
  width: 100%;
  margin-left: 10px;
  padding: 25px 15px;
  border-radius: 8px;
}

.inputSection {
  margin-bottom: 10px;
}

.inputSectionTitle {
  margin-bottom: 10px;
}

.inputsWrapper {
  display: flex;
}

input {
  padding: 12px 10px;
  border: 1px solid #999;
  font-size: 14px;
  line-height: 1.7;
}

.multiInputWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.multiInputSection {
  display: flex;
}
